<div class="app-filter h-[calc(100vh-60px)] p-6 pb-[60px] md:pb-0 w-screen md:w-[calc(100vw-220px)]">
  <h2 class="text-2xl text-center text-[#6A3A71] mb-6">Filtres</h2>

  <div class="flex flex-col justify-around">
    <form [formGroup]="filterForm">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Base</mat-panel-title>
          </mat-expansion-panel-header>

          <h3 class="mb-3">Préférence amoureuse:</h3>
          <div class="flex flex-row flex-wrap justify-between">
            @for (gender of genders();let i = $index; track gender ) {
              <label
                class="relative mx-12 my-4 text-[#6A3A71] flex cursor-pointer items-center"
                [for]="'gender-' + i"
              >
                <input
                  class="peer appearance-none"
                  [id]="'gender-' + i"
                  type="checkbox"
                  (change)="onGenderChange(i, $event)"
                  [checked]="gender.selected === 1"
                />
                <span
                  class="absolute left-0 top-1/2 h-[2em] w-[2em] -translate-x-full -translate-y-1/2 rounded-[0.25em] border-[2px] border-[#6A3A71]"
                >
                </span>
                <svg
                  class="absolute left-0 top-1/2 h-6 w-6 -translate-x-full -translate-y-1/2 duration-500 ease-out [stroke-dasharray:1000] [stroke-dashoffset:1000] peer-checked:[stroke-dashoffset:0] peer-checked:[fill:rgba(255,145,175,0.5)]"
                  viewBox="0 0 87 87"
                  fill="transparent"
                  height="87"
                  width="87"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    class="!h-6 !w-6"
                    d="M28.048 74.752c-.74 0-3.428.03-3.674-.175-3.975-3.298-10.07-11.632-12.946-15.92C7.694 53.09 5.626 48.133 3.38 42.035 1.937 38.12 1.116 35.298.93 31.012c-.132-3.034-.706-7.866 0-10.847C2.705 12.67 8.24 7.044 15.801 7.044c1.7 0 3.087-.295 4.55.875 4.579 3.663 5.515 8.992 7.172 14.171.142.443 3.268 6.531 2.1 7.698-.362.363-1.161-10.623-1.05-12.071.26-3.37 1.654-5.522 3.15-8.398 3.226-6.205 7.617-7.873 14.52-7.873 2.861 0 5.343-.274 8.049 1.224 16.654 9.22 14.572 23.568 5.773 37.966-1.793 2.934-3.269 6.477-5.598 9.097-1.73 1.947-4.085 3.36-5.774 5.424-2.096 2.562-3.286 5.29-5.598 7.698-4.797 4.997-9.56 10.065-14.522 14.872-1.64 1.588-10.194 6.916-10.672 7.873-.609 1.217 2.76-.195 4.024-.7"
                    stroke-width="4px"
                    pathLength="1000"
                    stroke="#FF91AF"
                  ></path>
                </svg>
                <p class="mx-3 capitalize">{{ gender.name }}</p>
              </label>
            }
          </div>

          <div>
            <h3 class="mb-3">Âge</h3>
            <mat-slider
              class="!w-full"
              max="110"
              min="18"
              discrete="true">
              <input [formControl]="minAgeControl" matSliderStartThumb>
              <input [formControl]="maxAgeControl" matSliderEndThumb>
            </mat-slider>
            <div class="flex justify-between mt-2 text-sm text-[#6A3A71]">
              <span>{{ minAgeControl.value }} ans</span>
              <span>{{ maxAgeControl.value }} ans</span>
            </div>
          </div>

          <div>
            <h3 class="mb-3 mt-3">Distance</h3>
            <mat-slider
              class="!w-full"
              max="200"
              min="0"
              discrete="true">
              <input [formControl]="distanceControl" matSliderThumb>
            </mat-slider>
            <div class="flex justify-end mt-2 text-sm text-[#6A3A71]">
              <span>{{ distanceControl.value }} km</span>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="my-6" [disabled]="!isSubscribe()">
          <mat-expansion-panel-header>
            <mat-panel-title>Loisirs</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="flex flex-wrap justify-between">
            @for (hobby of hobbies();let i = $index; track hobby ) {
              <div class="w-[250px]">
                <label
                  class="relative mx-12 my-4 text-[#6A3A71] flex cursor-pointer items-center"
                  [for]="'hobby-' + i"
                >
                  <input
                    class="peer appearance-none"
                    [id]="'hobby-' + i"
                    type="checkbox"
                    (change)="onHobbyChange(i, $event)"
                    [checked]="hobby.selected === 1"
                  />
                  <span
                    class="absolute left-0 top-1/2 h-[2em] w-[2em] -translate-x-full -translate-y-1/2 rounded-[0.25em] border-[2px] border-[#6A3A71]"
                  >
                  </span>
                  <svg
                    class="absolute left-0 top-1/2 h-6 w-6 -translate-x-full -translate-y-1/2 duration-500 ease-out [stroke-dasharray:1000] [stroke-dashoffset:1000] peer-checked:[stroke-dashoffset:0] peer-checked:[fill:rgba(255,145,175,0.5)]"
                    viewBox="0 0 87 87"
                    fill="transparent"
                    height="87"
                    width="87"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      class="!h-6 !w-6"
                      d="M28.048 74.752c-.74 0-3.428.03-3.674-.175-3.975-3.298-10.07-11.632-12.946-15.92C7.694 53.09 5.626 48.133 3.38 42.035 1.937 38.12 1.116 35.298.93 31.012c-.132-3.034-.706-7.866 0-10.847C2.705 12.67 8.24 7.044 15.801 7.044c1.7 0 3.087-.295 4.55.875 4.579 3.663 5.515 8.992 7.172 14.171.142.443 3.268 6.531 2.1 7.698-.362.363-1.161-10.623-1.05-12.071.26-3.37 1.654-5.522 3.15-8.398 3.226-6.205 7.617-7.873 14.52-7.873 2.861 0 5.343-.274 8.049 1.224 16.654 9.22 14.572 23.568 5.773 37.966-1.793 2.934-3.269 6.477-5.598 9.097-1.73 1.947-4.085 3.36-5.774 5.424-2.096 2.562-3.286 5.29-5.598 7.698-4.797 4.997-9.56 10.065-14.522 14.872-1.64 1.588-10.194 6.916-10.672 7.873-.609 1.217 2.76-.195 4.024-.7"
                      stroke-width="4px"
                      pathLength="1000"
                      stroke="#FF91AF"
                    ></path>
                  </svg>
                  <p class="mx-3">{{ hobby.name }}</p>
                  <mat-icon>{{ hobby.icon }}</mat-icon>
                </label>
              </div>
            }
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="my-6" [disabled]="!isSubscribe()">
          <mat-expansion-panel-header>
            <mat-panel-title>Chiens</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mb-6">
            <p class="font-bold text-[#6A3A71]">Quel genre de chien votre/vos chien(s) tolère-t-il ?</p>
            <ul class="flex flex-col">
              @for (dog of dogGenders();let i = $index; track dog; ) {
                <li class="w-[250px] ml-15">
                  <label
                    class="relative mx-12 my-4 text-[#6A3A71] flex cursor-pointer items-center"
                    [for]="'dog-gender-' + i"
                  >
                    <input
                      class="peer appearance-none"
                      [id]="'dog-gender-' + i"
                      type="checkbox"
                      [checked]="dog.selected === 1"
                      (change)="onDogGenderChange(i, $event)"
                    />
                    <span
                      class="absolute left-0 top-1/2 h-[2em] w-[2em] -translate-x-full -translate-y-1/2 rounded-[0.25em] border-[2px] border-[#6A3A71]"
                    >
                  </span>
                    <svg
                      class="absolute left-0 top-1/2 h-6 w-6 -translate-x-full -translate-y-1/2 duration-500 ease-out [stroke-dasharray:1000] [stroke-dashoffset:1000] peer-checked:[stroke-dashoffset:0] peer-checked:[fill:rgba(255,145,175,0.5)]"
                      viewBox="0 0 87 87"
                      fill="transparent"
                      height="87"
                      width="87"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="!h-6 !w-6"
                        d="M28.048 74.752c-.74 0-3.428.03-3.674-.175-3.975-3.298-10.07-11.632-12.946-15.92C7.694 53.09 5.626 48.133 3.38 42.035 1.937 38.12 1.116 35.298.93 31.012c-.132-3.034-.706-7.866 0-10.847C2.705 12.67 8.24 7.044 15.801 7.044c1.7 0 3.087-.295 4.55.875 4.579 3.663 5.515 8.992 7.172 14.171.142.443 3.268 6.531 2.1 7.698-.362.363-1.161-10.623-1.05-12.071.26-3.37 1.654-5.522 3.15-8.398 3.226-6.205 7.617-7.873 14.52-7.873 2.861 0 5.343-.274 8.049 1.224 16.654 9.22 14.572 23.568 5.773 37.966-1.793 2.934-3.269 6.477-5.598 9.097-1.73 1.947-4.085 3.36-5.774 5.424-2.096 2.562-3.286 5.29-5.598 7.698-4.797 4.997-9.56 10.065-14.522 14.872-1.64 1.588-10.194 6.916-10.672 7.873-.609 1.217 2.76-.195 4.024-.7"
                        stroke-width="4px"
                        pathLength="1000"
                        stroke="#FF91AF"
                      ></path>
                    </svg>
                    <p class="mx-3">{{ dog.name }}</p>
                  </label>
                </li>
              }
            </ul>

            <p class="font-bold text-[#6A3A71]">Quelle taille de chien votre/vos chien(s) tolère-t-il ?</p>
            <ul class="flex flex-col">
              @for (dog of dogSizes(); let i = $index; track dog;) {
                <li class="ml-15">
                  <label
                    class="relative mx-12 my-4 text-[#6A3A71] flex cursor-pointer items-center"
                    [for]="'dog-size-' + i"
                  >
                    <input
                      class="peer appearance-none"
                      [id]="'dog-size-' + i"
                      type="checkbox"
                      [checked]="dog.selected === 1"
                      (change)="onDogSizeChange(i, $event)"
                    />
                    <span
                      class="absolute left-0 top-1/2 h-[2em] w-[2em] -translate-x-full -translate-y-1/2 rounded-[0.25em] border-[2px] border-[#6A3A71]"
                    >
                  </span>
                    <svg
                      class="absolute left-0 top-1/2 h-6 w-6 -translate-x-full -translate-y-1/2 duration-500 ease-out [stroke-dasharray:1000] [stroke-dashoffset:1000] peer-checked:[stroke-dashoffset:0] peer-checked:[fill:rgba(255,145,175,0.5)]"
                      viewBox="0 0 87 87"
                      fill="transparent"
                      height="87"
                      width="87"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="!h-6 !w-6"
                        d="M28.048 74.752c-.74 0-3.428.03-3.674-.175-3.975-3.298-10.07-11.632-12.946-15.92C7.694 53.09 5.626 48.133 3.38 42.035 1.937 38.12 1.116 35.298.93 31.012c-.132-3.034-.706-7.866 0-10.847C2.705 12.67 8.24 7.044 15.801 7.044c1.7 0 3.087-.295 4.55.875 4.579 3.663 5.515 8.992 7.172 14.171.142.443 3.268 6.531 2.1 7.698-.362.363-1.161-10.623-1.05-12.071.26-3.37 1.654-5.522 3.15-8.398 3.226-6.205 7.617-7.873 14.52-7.873 2.861 0 5.343-.274 8.049 1.224 16.654 9.22 14.572 23.568 5.773 37.966-1.793 2.934-3.269 6.477-5.598 9.097-1.73 1.947-4.085 3.36-5.774 5.424-2.096 2.562-3.286 5.29-5.598 7.698-4.797 4.997-9.56 10.065-14.522 14.872-1.64 1.588-10.194 6.916-10.672 7.873-.609 1.217 2.76-.195 4.024-.7"
                        stroke-width="4px"
                        pathLength="1000"
                        stroke="#FF91AF"
                      ></path>
                    </svg>
                    <p class="mx-3">{{ dog.name }}</p>
                  </label>
                </li>
              }
            </ul>

            <p class="font-bold text-[#6A3A71]">Quel(s) tempérament(s) de chien votre/vos chien(s) tolère-t-il ?</p>
            <ul class="flex flex-col">
              @for (dog of dogTemperaments();let i = $index; track dog) {
                <li class="ml-15">
                  <label
                    class="relative mx-12 my-4 text-[#6A3A71] flex cursor-pointer items-center"
                    [for]="'dog-temperament-' + i"
                  >
                    <input
                      class="peer appearance-none"
                      [id]="'dog-temperament-' + i"
                      type="checkbox"
                      [checked]="dog.selected === 1"
                      (change)="onDogTemperamentChange(i, $event)"
                    />
                    <span
                      class="absolute left-0 top-1/2 h-[2em] w-[2em] -translate-x-full -translate-y-1/2 rounded-[0.25em] border-[2px] border-[#6A3A71]"
                    >
                  </span>
                    <svg
                      class="absolute left-0 top-1/2 h-6 w-6 -translate-x-full -translate-y-1/2 duration-500 ease-out [stroke-dasharray:1000] [stroke-dashoffset:1000] peer-checked:[stroke-dashoffset:0] peer-checked:[fill:rgba(255,145,175,0.5)]"
                      viewBox="0 0 87 87"
                      fill="transparent"
                      height="87"
                      width="87"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        class="!h-6 !w-6"
                        d="M28.048 74.752c-.74 0-3.428.03-3.674-.175-3.975-3.298-10.07-11.632-12.946-15.92C7.694 53.09 5.626 48.133 3.38 42.035 1.937 38.12 1.116 35.298.93 31.012c-.132-3.034-.706-7.866 0-10.847C2.705 12.67 8.24 7.044 15.801 7.044c1.7 0 3.087-.295 4.55.875 4.579 3.663 5.515 8.992 7.172 14.171.142.443 3.268 6.531 2.1 7.698-.362.363-1.161-10.623-1.05-12.071.26-3.37 1.654-5.522 3.15-8.398 3.226-6.205 7.617-7.873 14.52-7.873 2.861 0 5.343-.274 8.049 1.224 16.654 9.22 14.572 23.568 5.773 37.966-1.793 2.934-3.269 6.477-5.598 9.097-1.73 1.947-4.085 3.36-5.774 5.424-2.096 2.562-3.286 5.29-5.598 7.698-4.797 4.997-9.56 10.065-14.522 14.872-1.64 1.588-10.194 6.916-10.672 7.873-.609 1.217 2.76-.195 4.024-.7"
                        stroke-width="4px"
                        pathLength="1000"
                        stroke="#FF91AF"
                      ></path>
                    </svg>
                    <p class="mx-3">{{ dog.name }}</p>
                  </label>
                </li>
              }
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </form>

    <button mat-flat-button class="self-end w-fit mt-6 mb-6" (click)="onSubmit()">Actualiser</button>
  </div>
</div>
