/api/.env
/front/.idea/
/front/.angular/
/front/.vscode/
/front/src/app/env.ts
/front back office/.idea/
/front back office/.vscode/
/front back office/.angular/
/front-backoffice/.angular/
/front-backoffice/.idea/
/front-backoffice/.vscode/
/front-backoffice/src/app/env.ts
