<div class="app-about mx-auto w-10/12 md:w-4/5 lg:w-1/2">
  <img class="min-w-25 max-w-50 w-1/2 my-10 mx-auto"
       routerLink="/"
       src="assets/image/logo-entier.webp"
       alt="logo pawfect match">
  <h2 class="text-center text-[#6A3A71] text-2xl font-bold mb-6">À propos de nous</h2>
  <p>
    Bienvenue sur Pawfect Match, l'application créée pour tous les amoureux des chiens qui cherchent à partager leur
    vie
    avec quelqu'un de spécial. Nous savons à quel point les chiens occupent une place essentielle dans votre cœur, et
    combien il peut être frustrant de rencontrer des personnes qui ne partagent pas cet amour inconditionnel.
  </p>
  <img class="w-2/3 max-w-[400px] my-10 mx-auto rounded-3xl"
       src="assets/image/about-photo.webp"
       alt="photo de couple avec 2 chiens">
  <p>
    Sur d'autres plateformes, il n'est pas rare de découvrir, après plusieurs rendez-vous, que votre chien n'est pas le
    bienvenu dans la vie de votre nouvelle rencontre, ou que leurs chiens et les vôtres ne s'entendent tout simplement
    pas. Pawfect Match a été conçu pour résoudre ce problème : ici, nous réunissons des célibataires passionnés par
    leurs compagnons à quatre pattes, avec pour mission de créer des connexions harmonieuses pour vous et vos chiens.
  </p>
  <p class="text-xl my-12 text-center text-[#6A3A71] ">
    Parce qu'après tout, l'âme sœur parfaite, c'est celle qui aime votre chien autant que vous.
  </p>

</div>
