<div class="app-account m-auto py-12 px-3 md:px-24">
  <h2 class="text-[#6A3A71] text-center text-3xl mb-12">Gestion de compte</h2>
  <mat-accordion class="shadow-lg shadow-black/25">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Adresse email</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="flex flex-wrap text-[#6A3A71] mt-3 text-lg">
        <p class="font-bold mr-2">E-mail actuel:</p>
        <p >{{ userMail() }}</p>
      </div>
      <form [formGroup]="emailFormGroup" class="flex flex-col">
        <mat-form-field>
          <mat-label>email</mat-label>
          <input
            matInput
            placeholder="example@example.com"
            formControlName="email"
            name="email"
            type="email"
            required
          />
          <mat-error *ngIf="emailFormGroup.get('email')?.errors?.['required']">Email requis</mat-error>
          <mat-error *ngIf="emailFormGroup.get('email')?.errors?.['pattern']">Email non valide</mat-error>
          <mat-error *ngIf="emailFormGroup.get('email')?.errors?.['emailUsed']">>Email déjà utilisé</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button class="w-fit self-end" (click)="onSubmitEmail()">Valider</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Mot de passe</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="passwordFormGroup" class="flex flex-col">

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Nouveau mot de passe</mat-label>
          <div class="flex items-center px-3 justify-center">

            <input
              name="password"
              formControlName="password"
              type="password"
              matInput
              placeholder="**********"
              [type]="hidePassword() ? 'password' : 'text'"
              required
            />
            <button class="text-white mr-1" (click)="hidePassword.set(!hidePassword())">
              <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>

          <mat-error *ngIf="passwordFormGroup.get('password')?.errors?.['required']">Mot de passe requis</mat-error>
          <mat-error *ngIf="passwordFormGroup.get('password')?.errors?.['pattern'] && !passwordFormGroup.get('password')?.errors?.['required']">Min. 8 caractères, avec une minuscule, un chiffre et un caractère spécial</mat-error>

        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Confirmation</mat-label>
          <div class="flex items-center px-3 justify-center">

            <input
              name="passwordConfirm"
              formControlName="passwordConfirm"
              type="password"
              matInput
              placeholder="**********"
              [type]="hideConfirm() ? 'password' : 'text'"
              required
            />
            <button class="text-white mr-1" (click)="hideConfirm.set(!hideConfirm())">
              <mat-icon>{{ hideConfirm() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
          <mat-error *ngIf="passwordFormGroup.get('passwordConfirm')?.errors?.['required']">Confirmation de mot de passe requis</mat-error>

          <mat-error *ngIf="passwordFormGroup.get('passwordConfirm')?.errors?.['mismatchPassword']">Les mots de passe doivent correspondre</mat-error>
        </mat-form-field>
        <button mat-raised-button class="w-fit self-end" (click)="onSubmitPassword()">Valider</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Suppression de compte</mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="deleteFormGroup" class="flex flex-col">
        <mat-form-field>
          <mat-label>Veuillez écrire "Supprimer" pour confirmer la suppression de votre compte.</mat-label>
          <input
            matInput
            placeholder="Supprimer"
            formControlName="input"
            name="input"
            required
          />

        </mat-form-field>
        <button mat-raised-button class="w-fit self-end" (click)="onSubmitDelete()">Valider</button>
      </form>

    </mat-expansion-panel>

  </mat-accordion>

</div>
