<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Bloquer les fichiers cachés (ex : .env, .gitignore)
<FilesMatch "^\.">
  Require all denied
</FilesMatch>

# Bloquer l'accès au dossier .git
RedirectMatch 404 /\.git

# Bloquer le fichier .env
<Files .env>
  Order allow,deny
  Deny from all
</Files>
