<div class="app-about mx-auto h-screen w-10/12 md:w-4/5 lg:w-1/2 flex flex-col items-center justify-around">

  <img class="min-w-25 max-w-50 w-1/2 my-10 mx-auto"
       routerLink="/"
       src="assets/image/logo-entier.png"
       alt="logo pawfect match">

  <div>
    <h2 class="text-center text-[#6A3A71] text-2xl font-bold mb-6 mx-auto">Merci !</h2>
    <p>Votre e-mail a bien été vérifié. Vous pouvez maintenant vous connecter à votre compte.</p>
  </div>
  <button mat-flat-button type="button" routerLink="/">Se connecter</button>
</div>
