<div class="app-password-lost min-h-screen flex flex-col items-center">
  <img class="min-w-25 max-w-50 w-1/2 py-10 mx-auto"
       routerLink="/"
       src="assets/image/logo-entier.png"
       alt="logo pawfect match">
  <h2 class="text-center text-[#6A3A71] text-2xl font-bold mb-6">Mot de passe oublié ?</h2>
  <p class="text-center mb-6  w-10/12 md:w-8/12 xl:w-1/2">Renseignez votre adresse email afin de recevoir les instructions pour le réinitialiser</p>
  <form
    class="p-6 flex flex-col items-center drop-shadow-lg border-[#6A3A71] border-2 bg-[rgba(106,58,113,0.75)] max-w-100 min-w-50 w-2/3 rounded-3xl">
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        name="email"
        required
      />
    </mat-form-field>
    <div>
      <button>Valider</button>
    </div>
  </form>
</div>
