<div class="app-messages  min-h-[calc(100vh-120px)] flex  flex-col justify-between  w-full ">
  <div class="flex justify-between items-center bg-[#b59db8] p-6 w-full">

    <div class="w-screen flex items-center justify-between text-[#6A3A71]">
      <a (click)="openProfil()" class="flex items-center">
        <img src="{{environment.apiUrl}}/uploads/photo-user/{{profil()?.profil_photo}}" alt="photo de profil"
             class="w-25 h-25 object-cover rounded-2xl mr-3 shadow-lg shadow-black/25">
        <div class="flex-col  text-2xl ">
          <p>{{ profil().firstname }} </p>
          <p>{{ profil().lastname }}</p>
        </div>
      </a>
      <div>
        @if (profil().lastname !== '') {
          <a (click)="openReport()" class=" px-4 py-2">
            <mat-icon>flag</mat-icon>
          </a>
        }
        @if (profil().id) {
          <app-profil [id]="profil().id"></app-profil>
          <app-report [id]="profil().id"></app-report>
        }
      </div>
    </div>
  </div>
  <div class="bg-second h-[calc(100vh-268px)] md:h-[calc(100vh-208px)] p-6 flex flex-col-reverse overflow-y-auto">
    @for (message of messages(); track message) {
      <app-message-card [message]="message"
                        [photo]="message.is_that_user? userProfil().profil_photo : profil().profil_photo"></app-message-card>
    }
  </div>

  <div
    class="flex justify-between h-[60px] py-3 fixed bottom-15 md:bottom-0 w-full md:w-[calc(100vw-220px)] px-3 bg-second">
    <input
      class="w-full bg-zinc-200 text-zinc-600 font-mono ring-1 ring-zinc-400 focus:ring-2 focus:ring-[#6A3A71] outline-none duration-300 placeholder:text-zinc-600 placeholder:opacity-50 rounded-full px-4 py-1 shadow-md focus:shadow-lg focus:shadow-[#6A3A71]"
      placeholder="Message..."
      [formControl]="message"
      required
    />
    @if(message.value.length > 0) {
      <button (click)="onSubmit()" class="pl-3 text-[#6A3A71] my-auto">
        <mat-icon>send</mat-icon>
      </button>
    }
  </div>
</div>
