<div class="app-infos mx-auto w-10/12 md:w-4/5">
  <img class="min-w-25 max-w-50 w-1/2 mt-10 mx-auto mb-12" routerLink="/" src="assets/image/logo-entier.webp"
       alt="logo pawfect match">

  <mat-accordion class="m-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Conditions générales de vente</mat-panel-title>
      </mat-expansion-panel-header>
      <p><span>Article 1 :</span> Objet des services Pawfect Match est une application permettant aux propriétaires de
        chiens de se
        connecter avec des personnes partageant les mêmes intérêts. Les fonctionnalités incluent la création de
        profils, la messagerie et la recherche de correspondances.</p>

      <p><span>Article 2 :</span> Abonnements et prix
        L’abonnement Standard est gratuit et offre un accès limité aux fonctionnalités de l’application.
        L’abonnement Premium est facturé 9,99 €/mois et offre des fonctionnalités
        supplémentaires telles que la messagerie illimitée et des options avancées de recherche.
      </p>
      <p><span>Article 3 :</span> Paiement Les paiements sont effectués via carte bancaire ou PayPal, avec un
        renouvellement
        automatique sauf résiliation explicite avant la fin de la période.
      </p>
      <p><span>Article 4 :</span> Résiliation L’abonnement peut être résilié directement dans les paramètres de votre
        compte.
        Aucune pénalité ne sera appliquée.</p>

      <p><span>Article 5 :</span> Droit de rétractation Les abonnés ont un délai de 14 jours à compter de leur
        souscription pour
        demander un remboursement conformément à la législation en vigueur.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Politique de confidentialité</mat-panel-title>
      </mat-expansion-panel-header>
      <p><span>Données collectées</span> Nous collectons vos informations personnelles, telles que votre nom, adresse
        email, et photo de profil, ainsi que des données de connexion pour améliorer les services.</p>

      <p><span>Utilisation des données</span>Les données sont utilisées pour créer votre profil, connecter avec des
        membres compatibles, et vous proposer des fonctionnalités personnalisées.</p>

      <p><span>Partage des données</span> Vos informations ne sont jamais vendues à des tiers. Elles peuvent être
        partagées uniquement avec nos partenaires techniques pour garantir le bon fonctionnement de l’application.</p>

      <p><span>Vos droits</span> Vous pouvez demander l’accès, la rectification, ou la suppression de vos données via <a
        href="#">gfbcvbv&#64;pawfect-match.com.</a></p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Conditions générales d’utilisation</mat-panel-title>
      </mat-expansion-panel-header>
      <p><span>Règles d’utilisation</span>
        Respectez les autres membres de la communauté. Tout comportement inapproprié, insultant ou discriminatoire
        entraînera la suspension du compte.
        Ne partagez pas d’informations sensibles ou confidentielles dans votre profil ou dans les messages.</p>

      <p><span>Propriété intellectuelle</span>Tous les contenus visuels et textuels de l’application sont la propriété
        exclusive de Pawfect Match. Toute reproduction non autorisée est interdite.</p>

      <p><span>Responsabilité</span> Nous ne sommes pas responsables des interactions entre membres et ne garantissons
        pas la fiabilité des informations fournies dans les profils.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Mentions légales</mat-panel-title>
      </mat-expansion-panel-header>
      <p><span>Éditeur du site</span>
        Nom de l’entreprise : [Nom de l’entreprise]
        Adresse : [Adresse complète]
        SIRET : [Numéro de SIRET]</p>

      <p><span>Hébergeur</span>
        Nom de l’hébergeur : [Nom de l’hébergeur]
        Adresse : [Adresse complète]</p>

      <p><span>CNIL</span> Conformément au RGPD, nous nous engageons à protéger vos données personnelles. [Indiquer
        numéro d’enregistrement CNIL, si applicable].</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
