<div class="app-settings w-screen h-fit bg-second p-6 relative">
  <a routerLink="/profil" class="absolute text-[#6A3A71] text-3xl"><mat-icon>arrow_back</mat-icon></a>
  <h2 class="pb-6 text-2xl text-[#6A3A71]  text-center">Paramètres</h2>
  <div class=" flex flex-col items-center pb-[70px] bg-[#6A3A71] rounded-3xl">
    <ul class="py-6 space-y-6 w-full flex flex-col items-center">
      <li>
        <button routerLink="/compte">Compte</button>
      </li>
      <li>
        <button routerLink="/abonnement">Abonnement</button>
      </li>
      <li>
        <button routerLink="/notifications">Notifications</button>
      </li>
      <li>
        <button routerLink="/faq">Faq</button>
      </li>
      <li>
        <button routerLink="/a-propos-de-nous">A propos de nous</button>
      </li>
      <li>
        <button routerLink="/contact">Contact</button>
      </li>
      <li>
        <button routerLink="/informations">Informations et conditions</button>
      </li>
      <li>
        <button (click)="onLogout()">Deconnexion</button>
      </li>


    </ul>
    <p class="bg-[#6A3A71] text-center w-full text-white">© 2025 by Pawfect match.</p>
  </div>
</div>
