<div class="app-mobile bg-main py-2 h-15 w-screen">
  <ul class="flex flex-row text-white justify-around">
    <li>
      <a routerLink="/accueil">
        <mat-icon class="!w-9 !h-9 !text-4xl">home</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/filtres">
        <mat-icon class="!w-9 !h-9 !text-4xl">tune</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/match">
        <mat-icon class="!w-9 !h-9 !text-4xl !text-[#F7A8C5]">favorite</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/messagerie">
        <mat-icon  class="!w-9 !h-9 !text-4xl">chat</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/profil">
        <mat-icon class="!w-9 !h-9 !text-4xl">person</mat-icon>
      </a>
    </li>
  </ul>
</div>
