<div class="app-notifications m-auto p-12 md:px-24">
  <h2 class="text-[#6A3A71] text-center text-3xl mb-12">Notifications</h2>
  <div class="bg-[#6A3A71] rounded-3xl p-6 shadow-lg shadow-black/25 text-white">
    <div>
      <h3 class="mb-6">Messages</h3>
      <div>
        <div class="flex justify-around space-y-6">
          <p>Push</p>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <div class="flex justify-around">
          <p>Email</p>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <hr class="mt-6"/>
    </div>
   <div>
      <h3 class="mb-6">Messages</h3>
      <div>
        <div class="flex justify-around space-y-6">
          <p>Push</p>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        <div class="flex justify-around">
          <p>Email</p>
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
