<div class="app-mobile bg-main py-2 h-15 w-screen">
  <ul class="flex flex-row text-white justify-around">
    <li>
      <a routerLink="/utilisateurs" routerLinkActive="text-[#F7A8C5]">
        <mat-icon class="!w-9 !h-9 !text-4xl">group</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/tarification" routerLinkActive="text-[#F7A8C5]">
        <mat-icon class="!w-9 !h-9 !text-4xl">euro_symbol</mat-icon>
      </a>
    </li>

    <li>
      <a routerLink="/signalements" routerLinkActive="text-[#F7A8C5]">
        <mat-icon  class="!w-9 !h-9 !text-4xl">warning</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/statistiques" routerLinkActive="text-[#F7A8C5]">
        <mat-icon class="!w-9 !h-9 !text-4xl">show_chart</mat-icon>
      </a>
    </li>
  </ul>
</div>
