
<div class="app-faq mx-auto w-10/12 md:w-4/5 xl:w-1/2">
  <img class="min-w-25 max-w-50 w-1/2 mt-10 mx-auto mb-12"
       routerLink="/"
       src="assets/image/logo-entier.png"
       alt="logo pawfect match">
  <h2 class="text-center text-[#6A3A71] text-2xl font-bold mb-6">Foire Aux Questions</h2>
  <mat-accordion class="m-12">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>1. Qu'est-ce que Pawfect Match ?</mat-panel-title>
        </mat-expansion-panel-header>
        Pawfect Match est une application de rencontre destinée aux propriétaires de chiens, permettant de connecter des célibataires passionnés par leurs compagnons à quatre pattes.
      </mat-expansion-panel>

      <mat-expansion-panel class="my-6">
        <mat-expansion-panel-header>
          <mat-panel-title>2. Comment créer un profil ?</mat-panel-title>
        </mat-expansion-panel-header>
        C'est simple ! Remplissez vos informations personnelles (prénom, nom, email, photo), répondez aux questions sur vos préférences et vos chiens, puis personnalisez votre profil avec une description et vos centres d'intérêt.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>3. Quels sont les avantages de l'abonnement Premium ?</mat-panel-title>
        </mat-expansion-panel-header>
        - Voir qui a consulté votre profil
        - Utiliser des filtres de recherche avancés
        - Envoyer des messages sans attendre un match
        - Augmenter votre visibilité
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>4. Comment fonctionne le système de "match" ?</mat-panel-title>
        </mat-expansion-panel-header>
        "Likez" les profils qui vous intéressent et créez un "match" lorsque l'intérêt est réciproque. Vous pouvez alors échanger en privé.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>5. Mon chien est-il pris en compte ?</mat-panel-title>
        </mat-expansion-panel-header>
        Oui ! Les informations sur votre chien (traits de personnalité, préférences) sont utilisées pour des correspondances compatibles.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>6. Mes données sont-elles protégées ?</mat-panel-title>
        </mat-expansion-panel-header>
        Absolument ! Nous respectons le RGPD et utilisons des systèmes de chiffrement. Vous pouvez modifier ou supprimer vos données à tout moment.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>7. Que faire en cas de comportement inapproprié ?</mat-panel-title>
        </mat-expansion-panel-header>
        Signalez tout comportement suspect via notre plateforme. Notre équipe prendra rapidement des mesures.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>8. L'application est-elle gratuite ?</mat-panel-title>
        </mat-expansion-panel-header>
        Oui, avec des fonctionnalités de base. Les abonnements Premium offrent des services supplémentaires.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>9. Comment résilier mon abonnement Premium ?</mat-panel-title>
        </mat-expansion-panel-header>
        Faites-le directement depuis les paramètres de votre compte. Aucun paiement après la période en cours.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>10. Comment contacter le support ?</mat-panel-title>
        </mat-expansion-panel-header>
        Contactez-nous via email ou formulaire de contact pour toute assistance.
      </mat-expansion-panel>
  </mat-accordion>
</div>
