<div
  class="app-dog-profil h-[calc(100vh-60px)] w-screen md:w-[calc(100vw-220px)] md:min-h-screen pb-[60px] md:pb-0">
  <a routerLink="/profil" class="p-6 absolute text-[#6A3A71] text-3xl"><mat-icon>arrow_back</mat-icon></a>
  <h2 class="text-center text-2xl w-full text-[#6A3A71] bg-gradient-to-b bg-[#b59db8] p-6 md:w-[calc(100vw-220px)]">Gestion des chiens</h2>
  <form class="w-4/5 mt-6 m-auto" [formGroup]="dogForm">
    <mat-accordion class="shadow-lg shadow-black/25" formArrayName="dogs">
      @for (dogControl of dogsFormArray.controls; track dogControl; let i = $index) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ dogControl.get('name')?.value === '' ? 'Nouveau chien' : (dogControl.get('name')?.value || 'Nouveau chien') }}</mat-panel-title>
          </mat-expansion-panel-header>

          <div [formGroupName]="i">
            <div class="mb-2">
              <label>Nom du chien: </label>
              <input
              type="text"
              class="form__field border border-[#b59db8] rounded-3xl p-1"
              formControlName="name">
            </div>

            <div>
            <label>Date de naissance: </label>
            <input class="border border-[#b59db8] rounded-3xl p-1"
              type="date"
              formControlName="birthday">
            </div>
            <div class="mb-6">
              <p class="font-bold">De quel genre est votre chien?</p>
              <ul class="flex flex-col">
                @for (option of dogGenders(); track option) {
                  <li class="ml-6">
                    <label>
                      <input
                        type="radio"
                        name="gender"
                        [value]="option.id"
                        formControlName="gender">
                      <span class="ml-3">{{ option.name }}</span>
                    </label>
                  </li>
                }
              </ul>

              <p class="font-bold">De quelle taille est votre chien?</p>
              <ul class="flex flex-col">
                @for (option of dogSizes(); track option) {
                  <li class="ml-6">
                    <label>
                      <input
                        type="radio"
                        name="size"
                        [value]="option.id"
                        formControlName="size">
                      <span class="ml-3">{{ option.name }}</span>
                    </label>
                  </li>
                }
              </ul>

              <p class="font-bold">De quel tempérament est votre chien?</p>
              <ul class="flex flex-col">
                @for (option of dogTemperaments(); track option) {
                  <li class="ml-6">
                    <label>
                      <input
                        type="radio"
                        [value]="option.id"
                        name="temperament"
                        formControlName="temperament">
                      <span class="ml-3">{{ option.name }}</span>
                    </label>
                  </li>
                }
              </ul>

            </div>
          </div>

          <button class="!mr-auto"
                  mat-raised-button
                  type="button"
                  (click)="deleteDog(i)">
            Supprimer
          </button>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </form>

  <div class="w-4/5 m-auto flex justify-around my-6 mb-[60px] z-0">
    @if (dogsFormArray.length < 3) {
      <button mat-flat-button type="button" (click)="addDog()">Ajouter un chien</button>
    }
    <button mat-flat-button type="button" (click)="onSubmit()">Valider</button>
  </div>
</div>
