<div class="app-home bg-second w-screen h-[calc(100vh-60px)] md:w-[calc(100vw-220px)] md:h-screen">
  <div
    id="tphoto"
    class="h-[calc(100vh-60px)] flex items-center justify-center relative md:h-screen"
  >
    @if (userProfil().profil_photo === null) {
      Veuillez ajouter une photo de profil afin de pouvoir accéder au système de matching.
    } @else if (profils().length > 0) {
      <div class="w-4/5 h-[80vh] lg:w-3/5 relative rounded-3xl shadow-lg shadow-black/25">

        <img src="{{environment.apiUrl}}/uploads/photo-user/{{profils()[index].profil_photo}}?v={{Date.now()}}"
             class="w-full h-full object-cover object-center rounded-3xl" alt="Photo"/>

        <div
          class="absolute top-0 rounded-t-3xl left-0 w-full h-20 bg-gradient-to-t from-transparent to-black/50 z-10"></div>

        <div class="text-white text-4xl">
          <a class="absolute top-2 left-0  z-20 opacity-75 cursor-pointer px-4 py-2" (click)="openProfil()">
            <mat-icon>article_person</mat-icon>
          </a>
          <a class="absolute top-2 right-0  z-20 opacity-75 cursor-pointer px-4 py-2" (click)="openReport()">
            <mat-icon>flag</mat-icon>
          </a>

        </div>

        <div class="absolute bottom-20 left-4 text-white text-2xl z-20">
          <span
            [classList]="profils()[index].gender == '2' ? 'text-black' : 'text-white'"> {{ profils()[index].firstname }}</span>
          à {{ !profils()[index].distance_km ? '?' : Math.floor(profils()[index].distance_km) }}
          km, {{ getAge(profils()[index].birthday) }} ans
        </div>

        <div
          class="absolute bottom-0 rounded-b-3xl left-0 w-full h-32 bg-gradient-to-t from-black/75 to-transparent z-10"></div>

        <div class="absolute bottom-4 left-0 w-full flex justify-center space-x-3 z-20 text-white opacity-80">
          <div (click)="skiped()"
               class="h-14 w-14 bg-[#6A3A71] rounded-full flex items-center justify-center shadow-lg shadow-black/25 cursor-pointer">
            <mat-icon>close</mat-icon>
          </div>
          <div [routerLink]="isSubscribe()?['/messagerie/discussion', profils()[index].id] : ['/nouvel-abonnement']"
               class="h-16 w-16 bg-gray-600 rounded-full flex items-center justify-center shadow-lg shadow-black/25 cursor-pointer">
            <mat-icon>chat_bubble</mat-icon>
          </div>
          <div (click)="matched()"
               class="h-14 w-14 bg-pink-300 rounded-full flex items-center justify-center shadow-lg shadow-black/25 cursor-pointer">
            <mat-icon>favorite</mat-icon>
          </div>
        </div>

      </div>

    } @else if (profils().length === 0 || profils().length === index) {
      <div class="text-center">
        <p>Aucun profil à montrer.</p>
        <p>Veuillez vérifier vos filtres.</p>
      </div>
    } @else {
      En cours de chargement
    }

  </div>
</div>

@if (profils().length > 0) {
  <app-report [hidden]="isReportHidden()" [id]="profils()[index].id"></app-report>
  <app-profil [hidden]="isProfilHidden()" [id]="profils()[index].id"></app-profil>
}
