<div class="app-footer flex flex-col items-center bg-black text-white h-50 md:h-19 justify-between pt-4">
    <ul class="flex flex-col items-center md:flex-row">
      <li>
        <a routerLink="/">
          <img class="block mx-auto md:ml-auto md:mr-0 min-w-25 max-w-50 w-1/2 mb-3 md:mb-0"
               src="assets/image/logo-long.webp"
                 alt="logo pawfect match">
        </a>
      </li>
        <li>
            <a routerLink="/a-propos-de-nous">
                À propos de nous
            </a>
        </li>
        <li>
            <a routerLink="/faq">
                Faq
            </a>
        </li>
      <li>
        <a routerLink="/contact">
          Contact
        </a>
      </li>
        <li>
            <a routerLink="/informations">
                Informations et conditions
            </a>
        </li>
    </ul>
    <p class="text-sm">© 2025 by Pawfect match.</p>
</div>
